<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/admin}">
<head>
  <title>관리자 화면</title>
  <link rel="stylesheet" th:href="@{/css/admin/permission-manage.css}">
</head>
<body>

<section layout:fragment="admin-content">   <!-- Main Content -->

  <h1 class="main-title">권한 관리 화면</h1>
  <div class="content-container">
    <!-- 상단 검색 영역 -->
    <form id="searchForm" class="search-area">
      <div class="form-group">
        <label for="searchPermissionName">권한 명</label>
        <input type="text" id="searchPermissionName" name="searchPermissionName">
        <button type="submit" id="searchBtn">검색</button> <!-- 2. 검색 버튼 -->
      </div>
      <!-- 1. 등록 버튼 (검색 영역 오른쪽에 배치) -->
      <button type="button" id="registerBtn" class="register-button">권한 등록</button>
    </form>

    <!-- 결과 테이블 영역 -->
    <div class="table-area">
      <table class="results-table">
        <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">권한 코드</th>
          <th scope="col">권한 명</th>
          <th scope="col">권한 설명</th>
          <th scope="col">수정</th>
        </tr>
        </thead>
        <tbody id="resultsBody">
        <!-- 검색 결과가 여기에 동적으로 추가됩니다 -->
        <!-- 예시 행 (실제로는 JS로 생성) -->
        <tr th:each="permission : ${adminPermissionList}">
          <td th:text="${permission.permissionId}"></td>
          <td th:text="${permission.permissionCode}"></td>
          <td th:text="${permission.permissionName}"></td>
          <td th:text="${permission.description}"></td>
<!--          <td th:text="${#temporals.format(role.createDt, 'yyyy.MM.dd HH:mm')}"></td>-->
          <td><button type="button" class="btn-edit" data-group-id="3">수정</button></td>
        </tr>
        <tr th:if="${adminPermissionList.empty}">
          <td colspan="6" class="no-data">조회된 역할 목록이 없습니다.</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 페이지네이션 영역 -->
    <div class="pagination-area">
      <a href="#" class="page-link current-page">1</a>
      <!-- <a href="#" class="page-link">2</a> -->
      <!-- <a href="#" class="page-link">3</a> -->
    </div>
  </div>
</section >
</body>
</html>