<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/admin}">
<head>
  <title>관리자 화면</title>
  <link rel="stylesheet" th:href="@{/css/admin/coupon-manage.css}">
</head>
<body>

<section layout:fragment="admin-content">   <!-- Main Content -->

  <h1 class="main-title">쿠폰 화면</h1>

  <div class="content-container">
    <!-- 상단 검색 영역 -->
    <form id="searchForm" class="search-area" th:action="@{/admin/coupons}">
      <div class="form-group">
        <label for="searchCouponName">쿠폰 명</label>
        <input type="text" id="searchCouponName" name="searchCouponName">
        <button type="submit" id="searchBtn">검색</button> <!-- 2. 검색 버튼 -->
      </div>
      <!-- 1. 등록 버튼 (검색 영역 오른쪽에 배치) -->
      <button type="button" id="registerBtn" class="register-button"
              onclick="location.href='/admin/coupons/regist'">쿠폰 등록</button>
    </form>

    <!-- 결과 테이블 영역 -->
    <div class="table-area">
      <table class="results-table">
        <thead>
        <tr>
          <th>쿠폰번호</th>
          <th>쿠폰명</th>
          <th>쿠폰할인</th>
          <th>쿠폰 수신 시간</th>
          <th>쿠폰 만료 시간</th>
          <th>쿠폰내용</th>
          <th>상태</th>
          <th>수정</th>
        </tr>
        </thead>
        <tbody id="resultsBody">
          <!-- 검색 결과가 여기에 동적으로 추가됩니다 -->
          <tr th:each="coupon : ${adminCouponList}">
            <td th:text="${coupon.cpNo}"></td>
            <td th:text="${coupon.cpnNm}"></td>
            <td th:if="${coupon.discountAt == 'W'}"
                th:text="${#numbers.formatInteger(coupon.discount, 3, 'COMMA') + '원 할인'}">할인</td>
            <td th:if="${coupon.discountAt == 'R'}"
                th:text="${coupon.discount + '% 할인'}">할인</td>
            <td th:text="${#temporals.format(coupon.cpnStartDt, 'yyyy.MM.dd HH:mm')}"></td>
            <td th:text="${#temporals.format(coupon.cpnEndDt, 'yyyy.MM.dd HH:mm')}"></td>
            <td th:text="${coupon.cpnDsc}"></td>
            <td th:text="${coupon.activeYn}"></td>
            <td>
              <a th:href="@{/admin/coupons/edit/{cpNo}(cpNo=${coupon.cpNo})}" class="btn btn-edit">수정</a>
              <button type="button" class="btn-edit" data-coupon-id="${coupon.cpNo}">삭제</button></td>
          </tr>
          <tr th:if="${adminCouponList.empty}">
            <td colspan="8" class="no-data">조회된 쿠폰 내역이 없습니다.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 페이지네이션 영역 -->
    <div class="pagination-area">
      <a href="#" class="page-link current-page">1</a>
      <!-- <a href="#" class="page-link">2</a> -->
      <!-- <a href="#" class="page-link">3</a> -->
    </div>

  </div>
</section >
</body>
</html>